---
ansible:
  executor:
    args:
      ansible_playbook:
        - --inventory=${MOLECULE_SCENARIO_DIRECTORY}/../inventory.yml
  cfg:
    defaults:
      deprecation_warnings: false
      inventory: ${MOLECULE_SCENARIO_DIRECTORY}/../inventory.yml

scenario:
  test_sequence:
    - prepare
    - converge
    - verify
    - idempotence
    - verify
    - cleanup

shared_state: true
