---
dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml

ansible:
  cfg:
    defaults:
      deprecation_warnings: false
  executor:
    backend: ansible-playbook
    args:
      ansible_playbook:
        - --inventory=inventory.yml
  playbooks: 
    create: create.yml
    prepare: prepare.yml
    converge: converge.yml
    verify: verify.yml
    destroy: destroy.yml

scenario:
  test_sequence:
    - dependency
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
